*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "SolaimanLipiNormal";
    src: url('assets/fonts/solaimanlipi_20-04-07.eot');
    src: url('assets/fonts/solaimanlipi_20-04-07.eot')format('embedded-opentype'), url('assets/fonts/solaimanlipi_20-04-07.woff') format('woff'), url('assets/fonts/solaimanlipi_20-04-07.ttf') format('truetype'), url('assets/fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal') format('svg');
}

body {
    /* font-family: "Baloo Da 2", sans-serif; */
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
   overflow-x: hidden;
   color: black;
}



.lead-title {
    font-size: 48px;
    font-weight: 200;
}


.news-title {
    font-size: 22px;
    font-weight: 200;
}

.news-summary {
    font-size: 17px;
    line-height: 1.7;
}

.news-date {
    font-size: 14px;
    color: #666;
}


h5.section-title {
    color: #0176CB;
}

.item-main-right {
  backdrop-filter: blur(16px);
}





.item-main-part{
    background-image: linear-gradient(180deg, rgba(10, 25, 64, .72), rgba(10, 25, 64, .85)), url("assets/images/leade-theme.jpg");
    background-size: cover;
    opacity: 1;
    background-attachment: fixed;
    height: 1000px;
    background-position: center;
    position: relative;
}

.explore {
    width: 34%;
}

.learn-more {
    width: 28%;
}

.item-lead {
    font-size: 40px;
    font-weight: 500;
}




.partner-logo {
  max-height: 70px;
  object-fit: contain;
}


.event-bg {
    background: #f7f7f7;
}


.title-line {
    width: 388px;
    height: 2px;
    background: #5a9bf6;
    border-radius: 20px;
}

.footer-icon {
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 50px;
    align-items: center !important;
    display: flex !important;
    justify-content: center;
}


.item-footer {
  background: #020617;
}

.stat-card {
  background: #fff;
}

.card .card-img-top {
  height: 230px;
  object-fit: cover;
}

.card .card-img-top {
  height: 230px;
  object-fit: cover;
}

.stat-card {
  background: #fff;
}


.partner-logo {
  max-height: 70px;
  object-fit: contain;
}

.social-icons a:hover {
  color: #0b5ed7;
}

.feature-box {
  transition: transform .3s ease, box-shadow .3s ease;
}

.feature-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.08);
}

.bg-of-blue{
    background-color: #5684ae;
}

.icon-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35rem;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.team-card{
    width:320px;
    background:#fff;
    margin:40px auto;
    text-align:center;
    overflow:hidden;
}

.team-image img{
    width:100%;
    display:block;
}

.team-content{
    position:relative;
    margin:-35px auto 0;
    background:#fff;
    width:88%;
    padding:25px 20px 30px;
}

.team-content h3{
    font-size:22px;
    font-weight:700;
    color:#222;
    letter-spacing:1px;
    text-transform:uppercase;
    margin-bottom:12px;
}

.team-content p{
    font-size:18px;
    color:#666;
    letter-spacing:2px;
    margin-bottom:25px;
}

.social-icons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.social-icons a{
    color:#666;
    font-size:20px;
    transition:.3s;
    font-size: 1.1rem
}

/* .social-icons a:hover{
    color:#e67e22;
} */

i.bi.bi-facebook:hover{
    color:#0b5ed7;
}

i.bi.bi-linkedin:hover{
    color:#0A66C2;
}

i.bi.bi-instagram:hover{
    color:#6228d7;
}

i.bi.bi-youtube:hover {
    color: #FF0033;
}


.service-card{
    width:420px;
    height:570px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
}

.service-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.6s;
}

/* Overlay */

.overlay{
    position:absolute;
    inset:15px;
    /* background:rgba(0,110,210,.82); */
    transition:.5s;
}


.content{
    position:absolute;
    left:40px;
    bottom:40px;
    color:#fff;
    transition:.5s;
}

.content span{
    display:block;
    font-size:20px;
    margin-bottom:10px;
}

.content h3{
    font-size:42px;
    font-weight:700;
    line-height:1.15;
}

.service-card:hover img{
    transform:scale(1.12);
}

.service-card:hover .overlay{
    background:rgba(0,110,210,.92);
}

.service-card:hover .plus{
    background:#fff;
    color:#0077db;
    transform:rotate(90deg);
    position:absolute;
    top:0;
    right:0;
    width:50px;
    height:50px;
    background:#222;
    color:#fff;
    text-decoration:none;
    font-size:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:.4s;    
}

.service-card:hover .content{
    transform:translateY(-15px);
}


/* Hover Effect */
.video-box:hover img{
    transform: scale(1.08);
}

.video-box:hover .video-overlay{
    opacity: 1;
    visibility: visible;
}

.video-box:hover .video-overlay::before,
.video-box:hover .video-overlay::after{
    transform: scale(1);
}

.video-box:hover .play-btn{
    transform: scale(1) rotate(0deg);
    animation: pulse 1.5s infinite;
}


.bx-wrapper {
    max-width: 100% !important;
    width: 100% !important;
}



/* item about  */

.item-about-box{
    padding:100px 0;
    background:#f8fbff;
}

.about-buisness{
    display:inline-block;
    padding:8px 20px;
    background:#0d6efd;
    color:#fff;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
}

.section-subtitle{
    font-size:14px;
    font-weight:700;
    letter-spacing:2px;
    color:#0d6efd;
    text-transform:uppercase;
}


.section-title{
    font-size:40px;
    font-weight:700;
    line-height:1.2;

}

.about-feature{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}

.about-feature i{
    font-size:28px;
    color:#0d6efd;
}

.about-feature h5{
    font-weight:700;
    margin-bottom:5px;
}

.about-feature p{
    margin-bottom:0;
    color:#6c757d;
}

.mission-section{
    background:#ffffff;
}

.mission-card {
    padding: 40px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 10px 40px rgba(0,0,0,.08);
    transition: .3s;
    height: 100%;
}

.mission-card:hover{
    transform:translateY(-8px);
}

.icon-box {
    width: 40px;
    height: 40px;
    background: #0d6efd;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 25px;
}



/* single par css */

.people-banner{
    background:#f8fafc;
}

.people-banner h1{
    font-weight:700;
}

.people-card,
.alumni-card{
    border-radius:20px;
    overflow:hidden;
    transition:.35s;
}

.people-card:hover,
.alumni-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 35px rgba(0,0,0,.10)!important;
}

.people-card img,
.alumni-card img{
    height:280px;
    object-fit:cover;
}

.social a{
    color:#0d6efd;
    margin:0 8px;
    font-size:20px;
}

.advisor-box{
    background:#fff;
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.advisor-box img{
    border-radius:20px;
}

.join-box{
    background:#0d6efd;
    color:#fff;
    padding:45px;
    border-radius:25px;
}

.join-box p{
    color:#d9e8ff;
}

.search-card{
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
    height:100%;
}

.search-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.search-card img{
    height:140px;
    width:100%;
    object-fit:cover;
}

.search-card h4{
    font-size:22px;
    font-weight:600;
    margin-top:10px;
}

.search-card p{
    margin:10px 0;
}

.page-link{
    border-radius:10px;
    margin:0 4px;

}

.form-control,
.form-select{
    border-radius:12px;
}

.input-group .btn{
    border-radius:0 12px 12px 0;
}


/* Archive */

.archive-main{
    background:#f8fafc;
}

.archive-main h1{
    font-weight:700;
}

.archive-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.35s;
    height:100%;
}

.archive-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.archive-card img{
    width:100%;
    height:230px;
    object-fit:cover;
}

.archive-content{
    padding:25px;
}

.archive-content h4{
    font-size:22px;
    font-weight:600;
}

.archive-content p{
    color:#6c757d;
    margin:15px 0;
}

.archive-meta{

    color:#6c757d;
    font-size:15px;
}

.archive-meta i{
    color:#0d6efd;
    margin-right:6px;
}


.form-control,
.form-select{
    border-radius:10px;
    min-height:48px;
}

.btn{
    min-height:auto;
}


.page-link{
    border-radius:10px;
    margin:0 5px;
}


/* Category  */

.category-main{
    background:#f8fafc;
}

.category-main h1{
    font-weight:700;
}

/* Category Card */


.category-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.35s;
    height:100%;
}

.category-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.category-card img{
    width:100%;
    height:230px;
    object-fit:cover;
}

.category-content{
    padding:24px;
}

.category-content h4{
    font-size:1.35rem;
    font-weight:600;
    margin:15px 0;
    line-height:1.4;
}

.category-content p{
    color:#6c757d;
    margin-bottom:18px;
}

.category-meta{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:10px;
    font-size:.9rem;
    color:#6c757d;
    margin-bottom:20px;
}

.category-meta i{
    color:#0d6efd;
    margin-right:5px;
}

.form-select{
    min-width:140px;
    border-radius:10px;
}


.page-link{
    border-radius:10px;
    margin:0 4px;
}



/* Contact */

.contact-main{
    background:#f8fafc;
}

.contact-main h1{
    font-weight:700;
}


/* Contact Information */

.contact-info{
    background:#fff;
    padding:35px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    height:100%;
}

.contact-item{
    display:flex;
    gap:18px;
    margin-bottom:25px;
}

.contact-item i{
    width:30px;
    height:30px;
    background:#0d6efd;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:18px;
}


/* Social Media */


.social-links a {
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f1f5f9;
    /* color: #0d6efd; */
    margin-right: 23px;
    transition: .3s;
    text-decoration: none;
}

.social-links a:hover{
    background:#666;
    color:#fff;
}

/* Contact Form */

.contact-form{
    background:#fff;
    padding:35px;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.form-control{
    min-height:50px;
    border-radius:10px;
}

textarea.form-control{
    min-height:180px;
}

.map-box{
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.map-box iframe{
    width:100%;
    height:450px;
    border:0;
}